/* Body */

body {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
}


/* Housing List */

#houses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#houses>div {
    margin: 2vw;
    margin-bottom: 10px;
}

.houseinfo {
    display: flex;
    flex-wrap: wrap;
}

.houseName {
    text-align: left;
    font-weight: bold;
}

#houses>div>img {
    border-radius: 10px;
    height: 15vw;
    width: 15vw;
}

#houses>img {
    margin: 2vw;
}

.form-group {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1200px) {
    .dropdown-content {
        display: none;
        left: 0 !important;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }
}