#avatar {
    max-width: 8vw;
    max-height: 8vw;
    border-radius: 50%;
}

li {
    padding: 5px;
}

.form-floating {
    width: 300px;
}

#profile-navbar {
    background-color: #92A8D1;
    height: 100dvh;
}

.navbar {
    position: fixed;
    float: left;
    width: 25vw;
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav {
    width: 100%;
}

.content {
    position: absolute;
    right: 0;
    background-color: oldlace;
    float: right;
    width: 75vw;
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.left {
    text-align: left;
}

.horizontal-container {
    display: flex;
}

#edit-form {
    width: 40%;
    margin: auto;
}

#reservation-list {
    width: 90%;
    margin: auto;
}

.btn-group {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.Title {
    padding-bottom: 5vh;
}

.img-fluid {
    border-radius: 10%;
}

.property-img-sm {
    width: 9vw;
    height: 16vh;
}

.property-img-lg {
    width: 18vw;
    height: 32vh;
}

.reservation-date-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 12vw;
    height: auto;
    padding-bottom: 1vh;
}

.card {
    width: 80%;
}

.center {
    margin: auto;
    text-align: center;
}

.profile-info-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 20vw;
    max-height: 8vh;
    padding-bottom: 1vh;
}

.btn-responsive {
    max-width: 14vw;
    max-height: 7vh;
}

.status {
    max-width: 10vw;
    max-height: 6vh;
}

.font-responsive {
    font-size: 1vw;
}

.v-center {
    margin-top: auto;
    margin-bottom: auto;
}